In [31]:
!date

Tue Mar 28 10:01:38 CST 2017

In [1]:
import pandas as pd
import os
import re
import shutil

In [2]:
path = './source'

In [3]:
indicators = set()

for f in os.listdir(path):
    if re.match('ddf--datapoints--[a-z0-9_]*--.*', f):
        g = re.match('ddf--datapoints--([a-z0-9_]*)--.*', f).groups()[0]
        if g.endswith('_male') or g.endswith('_female'):
            continue
        indicators.add(g)
        
for i in indicators:
    print(i)

immigration_surplus_employed_aged_20_64
population_20xx_12_31
indicators
mean_income_aged_lt_20
immigration_surplus_min_3_years_of_higher_education_aged_25_64
higher_education_min_3_years_percent_of_population_aged_25_64
immigration_surplus
cumulative_immigration_surplus
employment_rate_aged_20_64
cumulative_immigration_surplus_employed_aged_20_64
cumulative_immigration_surplus_min_3_years_of_higher_education_aged_25_64

In [26]:
for indicator in indicators:
    
    if indicator == 'indicators':
        continue
    
    ilist = [
        indicator,
        indicator+'_male',
        indicator+'_female'
    ]
    
    data = []

    for i in ilist:
        d = pd.read_csv(os.path.join(path, 
                                     'ddf--datapoints--{}--by--basomrade--year.csv'.format(i)))
        d = d.rename(columns={i:indicator})
        if 'female' in i:
            d['gender'] = 'female'
        elif 'male' in i:
            d['gender'] = 'male'
        else:
            shutil.copy(os.path.join(path, 
                                     'ddf--datapoints--{}--by--basomrade--year.csv'.format(i)),
                        'out/')
            continue
        data.append(d)  
        
    finaldata = pd.concat(data, ignore_index=True)
    finaldata.to_csv(
        'out/ddf--datapoints--{}--by--gender--basomrade--year.csv'.format(indicator),
        index=False
    )

In [21]:
!open .

In [9]:
indicator_by_mun = '../ddf--datapoints--indicators--by--municipality--year.csv'

In [10]:
dm = pd.read_csv(indicator_by_mun)

In [11]:
dm = dm.set_index(['municipality', 'year'])

In [12]:
dm_data = {}

for name, ser in dm.iteritems():
    if name.endswith('_male'):
        gend = 'male'
        d = ser.copy()
        d.name = name.replace('_male', '')
    elif name.endswith('_female'):
        gend = 'female'
        d = ser.copy()
        d.name = name.replace('_female', '')
    else:
        continue
        gend = 'both'
        d = ser.copy()
    
    n = d.name
    d = d.reset_index()
    d['gender'] = gend
    
    if n in dm_data.keys():
        dm_data[n].append(d.set_index(['gender', 'municipality', 'year']))
    else:
        dm_data[n] = [d.set_index(['gender', 'municipality', 'year'])]

In [13]:
dm_data.keys()

dict_keys(['median_income_aged_lt_20', 'mean_income_aged_lt_20', 'population_20xx_12_31', 'higher_education_min_3_years_percent_of_population_aged_25_64', 'employment_rate_aged_20_64', 'immigration_surplus_employed_aged_20_64', 'cumulative_immigration_surplus_employed_aged_20_64', 'immigration_surplus_min_3_years_of_higher_education_aged_25_64', 'cumulative_immigration_surplus_min_3_years_of_higher_education_aged_25_64', 'immigration_surplus', 'cumulative_immigration_surplus'])

In [14]:
dm_comp_0 = [pd.concat(x) for x in dm_data.values()]

In [15]:
dm_comp = pd.concat(dm_comp_0, axis=1)

In [16]:
dm_comp.query('municipality == "0114_upplands_vasby"')

                                 median_income_aged_lt_20  \
gender municipality        year
male   0114_upplands_vasby 2000                    228025
                           2001                    237543
                           2002                    244254
                           2003                    249028
                           2004                    252281
                           2005                    255941
                           2006                    262854
                           2007                    273721
                           2008                    284700
                           2009                    286293
                           2010                    287952
                           2011                    295944
                           2012                    302632
                           2013                    306782
                           2014                    311556
female 0114_upplands_vasby 2000                    174591
                           2001                    182445
                           2002                    188775
                           2003                    194136
                           2004                    196212
                           2005                    198749
                           2006                    203756
                           2007                    211081
                           2008                    219154
                           2009                    223094
                           2010                    222028
                           2011                    225000
                           2012                    231977
                           2013                    236131
                           2014                    239959

                                 mean_income_aged_lt_20  \
gender municipality        year
male   0114_upplands_vasby 2000                  253133
                           2001                  263753
                           2002                  269020
                           2003                  272043
                           2004                  274568
                           2005                  281940
                           2006                  288900
                           2007                  299825
                           2008                  312189
                           2009                  310700
                           2010                  312978
                           2011                  321287
                           2012                  328922
                           2013                  331518
                           2014                  337404
female 0114_upplands_vasby 2000                  175400
                           2001                  185234
                           2002                  192332
                           2003                  199144
                           2004                  202604
                           2005                  206920
                           2006                  211908
                           2007                  219537
                           2008                  228675
                           2009                  234378
                           2010                  235549
                           2011                  240000
                           2012                  246665
                           2013                  252084
                           2014                  257900

                                 population_20xx_12_31  \
gender municipality        year
male   0114_upplands_vasby 2000                  18658
                           2001                  18620
                           2002                  18570
                           2003                  18550
                           2004                  18586
                           2005                  18624
                           2006                  18776
                           2007                  18970
                           2008                  19058
                           2009                  19267
                           2010                  19570
                           2011                  20023
                           2012                  20251
                           2013                  20677
                           2014                  20872
female 0114_upplands_vasby 2000                  18918
                           2001                  18904
                           2002                  18874
                           2003                  18847
                           2004                  18931
                           2005                  19000
                           2006                  19072
                           2007                  19085
                           2008                  19190
                           2009                  19374
                           2010                  19719
                           2011                  20171
                           2012                  20472
                           2013                  20772
                           2014                  20944

                                 higher_education_min_3_years_percent_of_population_aged_25_64  \
gender municipality        year
male   0114_upplands_vasby 2000                                           0.137095
                           2001                                           0.138881
                           2002                                           0.142149
                           2003                                           0.144407
                           2004                                           0.146797
                           2005                                           0.149466
                           2006                                           0.151295
                           2007                                           0.153897
                           2008                                           0.154076
                           2009                                           0.154374
                           2010                                           0.159327
                           2011                                           0.163106
                           2012                                           0.166495
                           2013                                           0.169485
                           2014                                           0.173502
female 0114_upplands_vasby 2000                                           0.152995
                           2001                                           0.160485
                           2002                                           0.164768
                           2003                                           0.169383
                           2004                                           0.173986
                           2005                                           0.183144
                           2006                                           0.189130
                           2007                                           0.197318
                           2008                                           0.203010
                           2009                                           0.212778
                           2010                                           0.218114
                           2011                                           0.229793
                           2012                                           0.236231
                           2013                                           0.243436
                           2014                                           0.251246

                                 employment_rate_aged_20_64  \
gender municipality        year
male   0114_upplands_vasby 2000                    0.821524
                           2001                    0.820271
                           2002                    0.813818
                           2003                    0.800874
                           2004                    0.798467
                           2005                    0.790629
                           2006                    0.797724
                           2007                    0.818823
                           2008                    0.816971
                           2009                    0.792879
                           2010                    0.806143
                           2011                    0.812474
                           2012                    0.816595
                           2013                    0.814514
                           2014                    0.811492
female 0114_upplands_vasby 2000                    0.779770
                           2001                    0.790349
                           2002                    0.789103
                           2003                    0.770648
                           2004                    0.764250
                           2005                    0.764037
                           2006                    0.771232
                           2007                    0.779157
                           2008                    0.778423
                           2009                    0.760062
                           2010                    0.766023
                           2011                    0.773901
                           2012                    0.776043
                           2013                    0.775566
                           2014                    0.777286

                                 immigration_surplus_employed_aged_20_64  \
gender municipality        year
male   0114_upplands_vasby 2000                                       48
                           2001                                     -111
                           2002                                      -79
                           2003                                     -114
                           2004                                      -51
                           2005                                      -48
                           2006                                        4
                           2007                                      -15
                           2008                                      -68
                           2009                                      -47
                           2010                                       81
                           2011                                      116
                           2012                                       32
                           2013                                       82
                           2014                                       50
female 0114_upplands_vasby 2000                                       72
                           2001                                     -105
                           2002                                      -96
                           2003                                     -148
                           2004                                      -87
                           2005                                      -47
                           2006                                      -78
                           2007                                     -105
                           2008                                       -6
                           2009                                      -56
                           2010                                       19
                           2011                                       67
                           2012                                       -9
                           2013                                       26
                           2014                                       -4

                                 cumulative_immigration_surplus_employed_aged_20_64  \
gender municipality        year
male   0114_upplands_vasby 2000                                                 48
                           2001                                                -63
                           2002                                               -142
                           2003                                               -256
                           2004                                               -307
                           2005                                               -355
                           2006                                               -351
                           2007                                               -366
                           2008                                               -434
                           2009                                               -481
                           2010                                               -400
                           2011                                               -284
                           2012                                               -252
                           2013                                               -170
                           2014                                               -120
female 0114_upplands_vasby 2000                                                 72
                           2001                                                -33
                           2002                                               -129
                           2003                                               -277
                           2004                                               -364
                           2005                                               -411
                           2006                                               -489
                           2007                                               -594
                           2008                                               -600
                           2009                                               -656
                           2010                                               -637
                           2011                                               -570
                           2012                                               -579
                           2013                                               -553
                           2014                                               -557

                                 immigration_surplus_min_3_years_of_higher_education_aged_25_64  \
gender municipality        year
male   0114_upplands_vasby 2000                                                 20
                           2001                                                -11
                           2002                                                 14
                           2003                                                -21
                           2004                                                -17
                           2005                                                  0
                           2006                                                 -6
                           2007                                                 38
                           2008                                                -17
                           2009                                                -12
                           2010                                                 65
                           2011                                                 51
                           2012                                                 20
                           2013                                                 29
                           2014                                                 37
female 0114_upplands_vasby 2000                                                 13
                           2001                                                -14
                           2002                                                 -9
                           2003                                                -24
                           2004                                                -50
                           2005                                                 10
                           2006                                                -35
                           2007                                                 15
                           2008                                                -14
                           2009                                                  9
                           2010                                                 27
                           2011                                                 73
                           2012                                                 23
                           2013                                                 17
                           2014                                                 -1

                                 cumulative_immigration_surplus_min_3_years_of_higher_education_aged_25_64  \
gender municipality        year
male   0114_upplands_vasby 2000                                                 20
                           2001                                                  9
                           2002                                                 23
                           2003                                                  2
                           2004                                                -15
                           2005                                                -15
                           2006                                                -21
                           2007                                                 17
                           2008                                                  0
                           2009                                                -12
                           2010                                                 53
                           2011                                                104
                           2012                                                124
                           2013                                                153
                           2014                                                190
female 0114_upplands_vasby 2000                                                 13
                           2001                                                 -1
                           2002                                                -10
                           2003                                                -34
                           2004                                                -84
                           2005                                                -74
                           2006                                               -109
                           2007                                                -94
                           2008                                               -108
                           2009                                                -99
                           2010                                                -72
                           2011                                                  1
                           2012                                                 24
                           2013                                                 41

In [17]:
dm_comp.to_csv('out/ddf--datapoints--indicators--by--gender--municipality--year.csv')

In [18]:
dm[dm_comp.columns].to_csv('out/ddf--datapoints--indicators--by--municipality--year.csv')

In [145]:
set(dm.columns)

{'cumulative_immigration_surplus',
 'cumulative_immigration_surplus_employed_aged_20_64',
 'cumulative_immigration_surplus_employed_aged_20_64_female',
 'cumulative_immigration_surplus_employed_aged_20_64_male',
 'cumulative_immigration_surplus_female',
 'cumulative_immigration_surplus_male',
 'cumulative_immigration_surplus_min_3_years_of_higher_education_aged_25_64',
 'cumulative_immigration_surplus_min_3_years_of_higher_education_aged_25_64_female',
 'cumulative_immigration_surplus_min_3_years_of_higher_education_aged_25_64_male',
 'employment_rate_aged_20_64',
 'employment_rate_aged_20_64_female',
 'employment_rate_aged_20_64_male',
 'higher_education_min_3_years_percent_of_population_aged_25_64',
 'higher_education_min_3_years_percent_of_population_aged_25_64_female',
 'higher_education_min_3_years_percent_of_population_aged_25_64_male',
 'immigration_surplus',
 'immigration_surplus_employed_aged_20_64',
 'immigration_surplus_employed_aged_20_64_female',
 'immigration_surplus_employed_aged_20_64_male',
 'immigration_surplus_female',
 'immigration_surplus_male',
 'immigration_surplus_min_3_years_of_higher_education_aged_25_64',
 'immigration_surplus_min_3_years_of_higher_education_aged_25_64_female',
 'immigration_surplus_min_3_years_of_higher_education_aged_25_64_male',
 'mean_income_aged_lt_20',
 'mean_income_aged_lt_20_female',
 'mean_income_aged_lt_20_male',
 'median_income_aged_lt_20',
 'median_income_aged_lt_20_female',
 'median_income_aged_lt_20_male',
 'population_20xx_12_31',
 'population_20xx_12_31_female',
 'population_20xx_12_31_male'}

In [19]:
dm.query('municipality == "0114_upplands_vasby"')

                          population_20xx_12_31  \
municipality        year
0114_upplands_vasby 2000                  37576
                    2001                  37524
                    2002                  37444
                    2003                  37397
                    2004                  37517
                    2005                  37624
                    2006                  37848
                    2007                  38055
                    2008                  38248
                    2009                  38641
                    2010                  39289
                    2011                  40194
                    2012                  40723
                    2013                  41449
                    2014                  41816

                          median_income_aged_lt_20_male  \
municipality        year
0114_upplands_vasby 2000                         228025
                    2001                         237543
                    2002                         244254
                    2003                         249028
                    2004                         252281
                    2005                         255941
                    2006                         262854
                    2007                         273721
                    2008                         284700
                    2009                         286293
                    2010                         287952
                    2011                         295944
                    2012                         302632
                    2013                         306782
                    2014                         311556

                          median_income_aged_lt_20_female  \
municipality        year
0114_upplands_vasby 2000                           174591
                    2001                           182445
                    2002                           188775
                    2003                           194136
                    2004                           196212
                    2005                           198749
                    2006                           203756
                    2007                           211081
                    2008                           219154
                    2009                           223094
                    2010                           222028
                    2011                           225000
                    2012                           231977
                    2013                           236131
                    2014                           239959

                          median_income_aged_lt_20  \
municipality        year
0114_upplands_vasby 2000                    196879
                    2001                    205625
                    2002                    212482
                    2003                    217412
                    2004                    219652
                    2005                    222945
                    2006                    229105
                    2007                    237901
                    2008                    247208
                    2009                    250920
                    2010                    251579
                    2011                    257418
                    2012                    263614
                    2013                    267678
                    2014                    272692

                          mean_income_aged_lt_20_male  \
municipality        year
0114_upplands_vasby 2000                       253133
                    2001                       263753
                    2002                       269020
                    2003                       272043
                    2004                       274568
                    2005                       281940
                    2006                       288900
                    2007                       299825
                    2008                       312189
                    2009                       310700
                    2010                       312978
                    2011                       321287
                    2012                       328922
                    2013                       331518
                    2014                       337404

                          mean_income_aged_lt_20_female  \
municipality        year
0114_upplands_vasby 2000                         175400
                    2001                         185234
                    2002                         192332
                    2003                         199144
                    2004                         202604
                    2005                         206920
                    2006                         211908
                    2007                         219537
                    2008                         228675
                    2009                         234378
                    2010                         235549
                    2011                         240000
                    2012                         246665
                    2013                         252084
                    2014                         257900

                          mean_income_aged_lt_20  population_20xx_12_31_male  \
municipality        year
0114_upplands_vasby 2000                  213485                       18658
                    2001                  223664                       18620
                    2002                  229871                       18570
                    2003                  234808                       18550
                    2004                  237786                       18586
                    2005                  243587                       18624
                    2006                  249604                       18776
                    2007                  259002                       18970
                    2008                  269639                       19058
                    2009                  271819                       19267
                    2010                  273547                       19570
                    2011                  279982                       20023
                    2012                  286993                       20251
                    2013                  291098                       20677
                    2014                  297065                       20872

                          population_20xx_12_31_female  \
municipality        year
0114_upplands_vasby 2000                         18918
                    2001                         18904
                    2002                         18874
                    2003                         18847
                    2004                         18931
                    2005                         19000
                    2006                         19072
                    2007                         19085
                    2008                         19190
                    2009                         19374
                    2010                         19719
                    2011                         20171
                    2012                         20472
                    2013                         20772
                    2014                         20944

                          higher_education_min_3_years_percent_of_population_aged_25_64_male  \
municipality        year
0114_upplands_vasby 2000                                           0.137095
                    2001                                           0.138881
                    2002                                           0.142149
                    2003                                           0.144407
                    2004                                           0.146797
                    2005                                           0.149466
                    2006                                           0.151295
                    2007                                           0.153897
                    2008                                           0.154076
                    2009                                           0.154374
                    2010                                           0.159327
                    2011                                           0.163106
                    2012                                           0.166495
                    2013                                           0.169485
                    2014                                           0.173502

                                       ...                \
municipality        year               ...
0114_upplands_vasby 2000               ...
                    2001               ...
                    2002               ...
                    2003               ...
                    2004               ...
                    2005               ...
                    2006               ...
                    2007               ...
                    2008               ...
                    2009               ...
                    2010               ...
                    2011               ...
                    2012               ...
                    2013               ...
                    2014               ...

                          immigration_surplus_min_3_years_of_higher_education_aged_25_64  \
municipality        year
0114_upplands_vasby 2000                                                 33
                    2001                                                -25
                    2002                                                  5
                    2003                                                -45
                    2004                                                -67
                    2005                                                 10
                    2006                                                -41
                    2007                                                 53
                    2008                                                -31
                    2009                                                 -3
                    2010                                                 92
                    2011                                                124
                    2012                                                 43
                    2013                                                 46
                    2014                                                 36

                          cumulative_immigration_surplus_min_3_years_of_higher_education_aged_25_64_male  \
municipality        year
0114_upplands_vasby 2000                                                 20
                    2001                                                  9
                    2002                                                 23
                    2003                                                  2
                    2004                                                -15
                    2005                                                -15
                    2006                                                -21
                    2007                                                 17
                    2008                                                  0
                    2009                                                -12
                    2010                                                 53
                    2011                                                104
                    2012                                                124
                    2013                                                153
                    2014                                                190

                          cumulative_immigration_surplus_min_3_years_of_higher_education_aged_25_64_female  \
municipality        year
0114_upplands_vasby 2000                                                 13
                    2001                                                 -1
                    2002                                                -10
                    2003                                                -34
                    2004                                                -84
                    2005                                                -74
                    2006                                               -109
                    2007                                                -94
                    2008                                               -108
                    2009                                                -99
                    2010                                                -72
                    2011                                                  1
                    2012                                                 24
                    2013                                                 41
                    2014                                                 40

                          cumulative_immigration_surplus_min_3_years_of_higher_education_aged_25_64  \
municipality        year
0114_upplands_vasby 2000                                                 33
                    2001                                                  8
                    2002                                                 13
                    2003                                                -32
                    2004                                                -99
                    2005                                                -89
                    2006                                               -130
                    2007                                                -77
                    2008                                               -108
                    2009                                               -111
                    2010                                                -19
                    2011                                                105
                    2012                                                148
                    2013                                                194
                    2014                                                230

                          immigration_surplus_male  \
municipality        year
0114_upplands_vasby 2000                        26
                    2001                      -179
                    2002                      -180
                    2003                      -217
                    2004                       -59
                    2005                      -118
                    2006                       -37
                    2007                         1
                    2008                       -74
                    2009                      -102
                    2010                        37
                    2011                       125
                    2012                        -8
                    2013                       132
                    2014                         6

                          immigration_surplus_female  immigration_surplus  \
municipality        year
0114_upplands_vasby 2000                          59                   85
                    2001                        -188                 -367
                    2002                        -157                 -337
                    2003                        -216                 -433
                    2004                         -68                 -127
                    2005                        -100                 -218
                    2006                        -119                 -156
                    2007                        -142                 -141
                    2008                         -74                 -148
                    2009                         -72                 -174
                    2010                          41                   78
                    2011                         172                  297
                    2012                         -45                  -53
                    2013                          31                  163
                    2014                         -44                  -38

                          cumulative_immigration_surplus_male  \
municipality        year
0114_upplands_vasby 2000                                   26
                    2001                                 -153
                    2002                                 -333
                    2003                                 -550
                    2004                                 -609
                    2005                                 -727
                    2006                                 -764
                    2007                                 -763
                    2008                                 -837
                    2009                                 -939
                    2010                                 -902
                    2011                                 -777
                    2012                                 -785
                    2013                                 -653
                    2014                                 -647

                          cumulative_immigration_surplus_female  \
municipality        year
0114_upplands_vasby 2000                                     59
                    2001                                   -129
                    2002                                   -286
                    2003                                   -502
                    2004                                   -570
                    2005                                   -670
                    2006                                   -789
                    2007                                   -931
                    2008                                  -1005
                    2009                                  -1077
                    2010                                  -1036
                    2011                                   -864
                    2012                                   -909
                    2013                                   -878
                    2014                                   -922

                          cumulative_immigration_surplus
municipality        year
0114_upplands_vasby 2000                              85
                    2001                            -282
                    2002                            -619
                    2003                           -1052
                    2004                           -1179
                    2005                           -1397
                    2006                           -1553
                    2007                           -1694
                    2008                           -1842
                    2009                           -2016
                    2010                           -1938
                    2011                           -1641
                    2012                           -1694
                    2013                           -1531
                    2014                           -1569

[15 rows x 33 columns]

In [30]:
import numpy as np

for indicator in indicators:
    
    if indicator == 'indicators':
        continue
    
    ilist = [
        indicator,
        indicator+'_male',
        indicator+'_female'
    ]
    
    data = []

    for i in ilist:
        d = pd.read_csv(os.path.join(path, 
                                     'ddf--datapoints--{}--by--basomrade--year.csv'.format(i)))
        d = d.rename(columns={i:indicator})
        if 'female' in i:
            d['gender'] = 'female'
        elif 'male' in i:
            d['gender'] = 'male'
        else:
            d['gender'] = 'both'
        data.append(d)  
        
    finaldata = pd.concat(data, ignore_index=True)
    finaldata = finaldata.set_index(['basomrade', 'gender', 'year'])
    assert not np.all(finaldata.index.duplicated())
    print(indicator)
    print(finaldata.dropna().shape[0])

immigration_surplus_employed_aged_20_64
49161
population_20xx_12_31
49161
mean_income_aged_lt_20
49161
immigration_surplus_min_3_years_of_higher_education_aged_25_64
49161
higher_education_min_3_years_percent_of_population_aged_25_64
49153
immigration_surplus
49161
cumulative_immigration_surplus
49161
employment_rate_aged_20_64
49156
cumulative_immigration_surplus_employed_aged_20_64
49161
cumulative_immigration_surplus_min_3_years_of_higher_education_aged_25_64
49161

In [24]:
for indicator in indicators:
    
    if indicator == 'indicators':
        continue
        
    ilist = [
        indicator,
        indicator+'_male',
        indicator+'_female'
    ]
    
    data = []
    count = 0

    for i in ilist:
        d = pd.read_csv(os.path.join(path, 
                                     'ddf--datapoints--{}--by--basomrade--year.csv'.format(i)))
#         d = d.rename(columns={i:indicator})
#         if 'male' in i:
#             d['gender'] = 'male'
#         elif 'female' in i:
#             d['gender'] = 'female'
#         else:
#             d['gender'] = 'both'
#         data.append(d)  
        count = count + d.shape[0]
        
#     finaldata = pd.concat(data, ignore_index=True)
    print(indicator)
    print(count)

immigration_surplus_employed_aged_20_64
49161
population_20xx_12_31
49161
mean_income_aged_lt_20
49161
immigration_surplus_min_3_years_of_higher_education_aged_25_64
49161
higher_education_min_3_years_percent_of_population_aged_25_64
49153
immigration_surplus
49161
cumulative_immigration_surplus
49161
employment_rate_aged_20_64
49156
cumulative_immigration_surplus_employed_aged_20_64
49161
cumulative_immigration_surplus_min_3_years_of_higher_education_aged_25_64
49161